  body{
      background-color: rgb(6, 11, 56);
      text-align: center;
      color: red;
      font-family: 'Courier New', Courier, monospace;
  }
  .A{
      font-size: 500%;
  }
  .B{
      font-size: 200%;
  }
  .container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
}
  
  img {
    width: 80%;
  }

  #name1 , #name2{
    font-size: 3rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  #winner{
    font-size: 4rem;
    color:red;
    font-family: 'Indie Flower', cursive;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .Roll{
    font-size: large;
  }

  footer{
    margin-top: 5%;
  }